.headerContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-weight: 600 !important;
}

.logoContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-left: 5px;
}
