.componentContainer {
  padding: 1rem;
  width: 100% !important;
}

.paper {
  margin-top: 10vh;
  width: 100%;
  height: auto;
  max-height: 78vh;
  padding: 1rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2;
  }
}

.skeleton {
  border-radius: 5px;
  width: 100% !important;
  height: 160px;
}

.skeletonButton {
  margin: 1rem 0;
}
